<div class="problem-solved">
  <div class="problem-card">
    <h1>Congraturation! Success!</h1>
    <button class="btn--back">Back To The Problem</button>
    <a href="/">Back To All Problems</a>
  </div>
</div>
