<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/javascripts/index.js"></script>

    <!-- code mirror cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/monokai.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js"
    >
    </script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/javascript/javascript.min.js"
    >
    </script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <img src="https://www.codewars.com/packs/assets/logo-inline-red-small.c6bd2cc8.png" alt="codewars" />
    </header>
    <%- body %>
    <footer>
      <ul>
        <li>&copy; 2022 Codewars</li>
        <li>About</li>
        <li>API</li>
        <li>Announcements</li>
        <li>Privacy</li>
        <li>Terms</li>
        <li>Contact</li>
      </ul>
    </footer>
  </body>
</html>