<h1>Sign Up</h1>
<form action="/register" method="POST">
  <label for="id" >id</label>
  <input type="text" id="id" name="id" required />
  <label for="password">password</label>
  <input type="password" id="password" name="password" required />
  <button type="submit">submit</button>
</form>
<a href="/login">log in</a>
